<div class="login">
    <div class="login-form-card">
        <h1 class="text-muted h2 m-4">Bienvenido</h1>
        <form class="login-form" action="">
            <div class="login-form-control">
                <span for="email">Email</span>
                <input class="login-form-control-input" type="email" id="email">
            </div>
            <div class="login-form-control">
                <span for="email">Contraseña</span>
                <input class="login-form-control-input" type="password" id="password">
            </div>

            <button type="button" class="btn btn-primary m-2">Ingresar</button>
        </form>
    </div>
</div>